VITE_WS_URL=ws://10.171.10.108:8080/ws
VITE_API_BASE_URL=http://10.171.10.108:8080/api/game


VITE_API_BASE_URL=https://backend-kombat68.onrender.com/api/game
VITE_WS_URL=wss://backend-kombat68.onrender.com/ws
